<h2>Find a special needs pet that also needs to go home with 
    YOU!</h2>

<% if (!currentUser) { %>
    <button><a href="/auth/signup">Signup</a></button>
    <br />
    <button><a href="/auth/login">Login</a></button>
<% } else { %>
    <button><a href="/auth/logout">Logout</a></button>
    <button><a href="/animals">Search For Pets</a></button>
<% } %>

<h2>This is the Home Page</h2>