<a href="/auth/logout">Logout</a>
<a href="/animals">Search More Pets</a>

<h2><%= currentUser.name %>'s Favorited Pets:</h2>

<% pets.forEach(function(animal) {%>
    <div class="container">
            <h3>
                <a href="/profile/<%= animal.name %> "><%= animal.name %> </a>
            </h3>
    </div>
    <form action="/profile/<%= animal.id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-primary"> Remove from favorites</button>
    </form>
<% }) %>
