body {
    background-color: #ffd98f;
}

.navTags {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10px;
}
.navBorder {
    border-bottom: 1px solid black;
} 

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;
    text-align: center;
}

.headingText {
    margin-top: 20px;
}